@charset "UTF-8";
/* CSS Document */
* {
    box-sizing: border-box;
}
body{
	background-color:#EAEAEA;
	font-family: "Lato", sans-serif;
	height: auto;
	width: 99.9%;
}
/*navbar*/
header{
	height:100px;
	padding: 2px;
	margin: 1px;
	background-color: #50A3A6;
	position: relative;
	width: 99.9%;}
.logo{
	right:1%;
	padding-bottom:5px;
	position:absolute;
	float: right;
	
}
.logo:hover{-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);}
.nav{ 
	left:5%;
	color: #FFFFFF;
	height: 100%;
	width: auto;
	position:absolute;
	padding-top:20px;
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);

}

.sidenav a:hover{
	color: #FFFFFF;
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);}
	 
.sidenav {
	height: 1000px;
	width: 0;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #50A3A6;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 150px;

}

.sidenav a {
	padding: 8px 8px 8px 50px;
	text-decoration: none;
	font-size: 1em;
	color: #FFFFFF;
	display: block;
	transition: 0.2s

}

.sidenav a:hover, .offcanvas a:focus{
	color: #0F6E71;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 50px;
	font-size: 36px;
	margin-right: 150px;
}
/*nav bar end */
/*menu and menu edit*/
.menu{
	width: 100%;
	height: 25px;
	text-align: right;
	
}
.menu td{
	font-family: arial;
	border: 1px soild black;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 25px;	
}
.menu h4{
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
background-color:#50A3A6;}
.menu h5{
	text-align: right;
}
.menu [type=button]{
	border-radius: 30px;
	color: #50A3A6;
	border: none;
	background-color: #FFFFFF;
	padding: 10px;
}
.menu [type=submit]{
	background-color: #50A3A6;
	color: #FFFFFF;
	width: 25%;
	height: auto;
	padding: 20px;
	border-radius: 15px;
	border: none;
	font-size: 16px;
	margin: 20px;
}
.menu [type=submit]:hover{
	color: #50A3A6;
	background-color: #FFFFFF;
	transition: 0.6s;
	overflow: hidden;
}
.menu [type=submit]:active{
	background: #11AFA5;
	color: #FFFFFF;
	cursor: pointer;
	transition: 0.6s;
	animation: ripple-animation 2s;
	z-index: -1;}


 div.menu {
      animation: ripple 0.6s ease-out;
    }
	
@keyframes menu {
  100% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
/*menu edit end */
/*calender and edits*/

#cal-wrap {
	width: 100%;
	margin-bottom: 20px;
}
#cal-wrap h1 {
	color:#7D7D7D;
}
#cal a {
	color: #666;
	text-decoration: none;
}

#cal ul {
	list-style: none;
	padding: 0;
	margin: 0;
	clear: both;
	width: 100%;
}

#cal li {
	display: block;
	float: left;
	width: 14.27%;
	padding: 5px;
	box-sizing: border-box;
	color: gray;
	border: 1px solid #ccc;
	margin-right: -1px;
	margin-bottom: -1px;
}

#cal ul.weekdays {
	height: 40px;
	background: #333;
}

#cal ul.weekdays li {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}

#cal .days li {
	height: 180px;
}

#cal .days li:hover {
	background: #eee;
}

#cal .date {
	text-align: center;
	margin-bottom: 5px;
	padding: 5px;
	background: #D4D4D4;
	width: 25px;
	border-radius: 50%;
	float: right;
	color:#333 ;
}

#edit [type=button]{
	text-align: center;
	margin-bottom: 0%;
	padding: ;
	background: white;
	width: 10%;
	border-radius: 20%;
	float: inherit;
	border: none;}
/*calender and edits end */
/*Billing and Regisitraion */
.reg{
	background-color: #11AFA5;
	padding: 20px;
	color: #FFFFFF;
	left: 30px;
	
}
.reg h4 {
	border-bottom: 1px solid #FFFFFF;
}
.reg [type=text],.reg [type=password]{
	width: 100%;
	height: auto;
	border-radius: 15px;
	border: none;
	padding: 10px;
	
}
.reg [type=checkbox]{
	border: #D4D4D4;}
.reg1{
	padding: 20px;
}
.reg1 [type=submit]{
	background: #ffffff;
	color: #11AFA5;
	border-radius: 15px;
	width: 50%;
	height: auto;
	padding: 20px;
	border: none;
	}
/*Billing and Regisitraion end*/
.rev li{
	list-style: none;
	

}
#wrap {
	width: 100%;
	height: auto%
}


#tab, #unselected-orders{
		border: #000000 solid 1px;
	margin-left: 150px;

	}
#table {
	height: auto;
	text-align:center;
	float: auto;
	

}

#guest {
	list-style: none;

}

#orders {
	list-style: none;
	
}

#unselected-orders [input=button]{
	color: #11AFA5;
	background-color: #FFFFFF;
	border: none;
	padding: 10px;
}
#unselected-orders {

	border: 3px solid black;
	text-align: center;
	margin-left: 50px;

}

#unselected-orders ul {
	list-style: none;
	border-bottom: #000000 solid 3px;
}
#guest li{
	text-indent:-15%;
}
#guest ul li {
	text-indent: 5%;
	border-bottom: #000000 solid 3px;
}
.rev table{margin-top: 100px;}
.rev td{
		border: 2px solid #11AFA5;
		padding-top:10px;
		padding-left:10px;
		padding-right: 10px;
		
		
	}
	.rev{
		margin-bottom: 100px;
		width:100%;
		height:50px;
		float: left;
		color: #7D7D7D;
	}

.rev ul{
	list-style: none;
	color:#7D7D7D;
	text-decoration: none;
}
.rev a, .rev a:active .rev a:visited{color: #7D7D7D;
text-decoration: none;}
.rev a:hover{color:#0A7A7E;}
/*Emplyees schedule */


.sch {background-color: #0A7A7E;}
.sch table, .sch th, .sch td{
		border: 3px solid #7D7D7D;
		color: #D4D4D4;
		padding: 10px;
		margin: 50px;
	}
	.sch h2{
		margin-left: 60px;
		
	}
.sch {
	background-color: #E55658;
color: #D4D4D4;}
	.sch td{
		text-align: center;
	}
	.sch th{
		padding-left: 30px;
		padding-right: 30px;
	}
	 th.no{
		border: none;
	}
	.bar {

	bottom: 0;
	width: 100}

@media only screen and (max-width: $breakpoint) {
// Insert all mobile styles here

}